<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>float test</title>
    <style>
        .box {
            float: left;
            box-sizing: content-box;
            width: 100px;
            height: 150px;
            margin-right: 10px;
            margin-left: 20px;
            padding: 30px;
            border: 3px solid skyblue;
        }
    </style>
</head>
<body>
    <div class="box">이미지</div>
    <p>텍스트와 함께 나란히 배치하는 float 속성</p>
</body>
</html>